body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.hero {
    position: relative;
    height: 60vh;
    background: url('images/6d802ffd14b32795b4deb0b886a7815a.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.overlay {
    position: absolute;
    text-align: center;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
    margin-bottom: 10px;
}

.nav {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 40px 20px;
    background: white;
    margin: 20px;
    border-radius: 6px;
}

.two-column {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.two-column .text{
    flex: 1;
}

.two-column  {
    flex: 1;
    background: #ddd;
    border-radius: 6px;
    min-height: 200px;
}


.project-card {
    background: #eee;
    padding: 20px;
    margin-top: 15px;
    border-radius: 4px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.icon {
    width: 25px;
    height: 25px;
    background: #999;
    border-radius: 50%;
}

.footer {
    background: #222;
    color:white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .two-column {
        flex-direction: column;
    }
}